<% @page_title = "会員詳細" %>
<h1> <%= @page_title%> </h1>

<p><%= link_to "edit", [:edit, @member] %></p>
<table class="attr">
  <tr>
    <th>number</th>
    <td><%= @member.number %></td>
  </tr>
  <tr>
    <th>name</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>fullname</th>
    <td><%= @member.full_name %></td>
  </tr>
  <tr>
    <th>gender</th>
    <td><%= @member.gender == 0 ? "men" : "wom" %></td>
  </tr>
  <tr>
    <th>birth</th>
    <td><%= @member.birthday.try(:strftime, "%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>mail</th>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <th>roll</th>
    <td><%= @member.administrator? ? "一般" : "管理者" %></td>
  </tr>
</table>