<%= image_tag("icon.png", alt:"title") %>
<div class="menubar">
  <%= menu_link_to "top", root_path %>
  <ul>
    <li><%= menu_link_to "news", "#" %></li>
    <li><%= menu_link_to "blog", "#" %></li>
    <li><%= menu_link_to "account", :members %></li>
    <li><%= menu_link_to "admins", "#" %></li>
  </ul>
</div>
<div id="article_expired_area">
  <input type="checkbox" id="article_no_expiration">
  <div id="article_expired_at">aaaaaaaaaaaaaaaaaaaa</div>
</div>