<%= image_tag("icon.png", alt:"title") %>
<div class="menubar">
  <%= menu_link_to "top", root_path %>
  <ul>
    <li><%= menu_link_to "news", "#" %></li>
    <li><%= menu_link_to "blog", "#" %></li>
    <li><%= menu_link_to "account", "#" %></li>
    <li><%= menu_link_to "admins", "#" %></li>
  </ul>
</div>